
/* header start */
*{
    margin: 0px;
    padding: 0px;
}
body{
  
    background-color: #eee;
    font-family: "Roboto",sans-serif;

}
.container{
    max-width: 1000px;
    background-color: #e4f9f5;
    margin: 0px auto;
    padding: 20px;

}

header{

}

.pro-img{

    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;

}

.header-bio{

    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: #11999e;
}
.header-contact{
    float: right;
    padding: 30px;
}

.header-contact a{
    color: #11999e;
    text-decoration: none;
    font-weight: bold;
}
.header-contact a:hover{
 text-decoration: underline;
 color: tomato;
}
/* header End */

/* Clearing Div */
.div-clear{
    clear: both;
}
/* Horizontal line */
hr{
    border: 3px solid black;
    border-width: 100%;
    margin: 20px auto;
    

}

/*-------------------------
Main start
 -------------------------*/

 #personal-section{

 }
 .content{
    margin-bottom: 30px;

 }
 .left-div{
    width: 30%;
    float: left;

 }
 .right-div{
    width: 70%;
    float: left;

 }
 
 .common-hr{
    border: solid  black 1.5px;
    width: 100%;
    margin: 20px  auto;

 }

 .edu-tem-left{
    width: 45%;
    float: left;
 }

 .edu-tem-right{

     width: 45%;
    float: right;
 }
  .edu-tem-left-p{
    width: 30%;
    float: left;
 }

 .edu-tem-right-p{

     width: 70%;
    float: right;
 }

.li{
            text-indent: 50px ;

        }
 /*-------------------------
Main End
 -------------------------*/

 /* Footer Start */
 .bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px;
 }

 .bottom-container a{
    color: white;
    text-decoration: none;
    margin: 20px;
    
 }
 .bottom-container p{
    color: white;
    margin-top: 20px;
 }
.fb-icon{
    width: 10px;
    height: 10px;
    border: 3px solid white;
    border-radius: 50%;
    align-items: center;

}
.fb{
    
}
  /* Footer End */

